/*heading styling*/
#heading-section{
	text-align:center;
}

/*Nav bar*/
/* Add a blue background color to the top navigation */
.topnav {
  background-color:#00CED1;
  overflow: hidden;
}
 

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

 

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
